.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.d-none {
    display: none;
}

header {
    background: #2980b9;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    color: #fff;
    height: 50px;
}

header .logo {
    margin-right: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: #fff;
    width: 220px;
    text-align: center;
    color: #2980b9;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
}

header .user {
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

header .user img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

header .user span {
    font-size: 14px;
}

main {
    height: 87vh;
    position: relative;;
}

main nav {
    background: #2980b9;
    width: 220px;
    height: 100%;
    float: left;
    transition: .4s all ease-in-out;
}

main nav .close-btn-container {
    text-align: right;
}

main nav .close-btn-container img,
main nav .open-btn-container img {
    cursor: pointer;
}

main nav .container {
    padding: 10px 20px;
}

main nav ul {

    margin-top: 30px;
    list-style: none;
}

main nav ul li {
    margin-bottom: 35px;
    font-size: 13px;
    font-weight: 700;
}

main nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

main nav ul li a img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

main section {
    padding: 10px;
    position: absolute;
    left: 220px;
    transition: .4s all ease-in-out;
}

main section .header {
    background: #aaa;
    padding: 20px;
    /*width: 92%;*/
    margin: auto auto 5px;
}

main section .content {
}

main section .content .input-container {
    display: inline-block;
    margin: 10px;
    width: 31%;
}

main section .content label {
    font-size: 15px;
    font-weight: 600;
}

main section .content input {
    width: 100%;
    padding: 5px;
}

main section .content label {
    display: block;
}

main section .btn-container {
    text-align: right;
    padding-right: 15px;
}

main section button {
    background: #2980b9;
    color: #fff;
    border: 0;
    padding: 15px 40px;
    font-size: 15px;
}

main.menu-closed nav {
    width: 50px;
}

main.menu-closed nav ul li span {
    display: none;
}

main.menu-closed nav .close-btn-container {
    display: none;
}

main.menu-closed nav .open-btn-container {
    display: block;
}

main.menu-closed section {
left:50px;
}

footer {
    background: #333;
    padding: 7px 20px;
    font-weight: 600;
}

footer ul {
    float: left;
    padding-top: 2px;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

footer .logo {
    float: right;
    background: #ccc;
    padding: 2px 15px;
    text-transform: uppercase;
}
